
* {
  padding: 0;
  margin 0;
  box-sizing: border-box;
}
html {
  font-size: 25px;
}
header {
  width: 100%;
}

/** Header **/
.main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 50%;
  background-color: whitesmoke;
  border: 0px solid whitesmoke;
}

.main-nav-element{
  display:inline-block;
  padding-left: 15%;
}

.main-nav-element a {
  color: black;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

.main-nav-element a:hover {
  color: white;
  background-color: black;
}

.main-nav-element a:active{
  color: white;
  background-color: black;
}

.main-nav-element a::after {
  content "     ";
}

/** container **/

.container {
  border: 0rem solid black;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 73vh;
  flex-wrap: wrap;
  position: relative;
  height: 700px;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
	background-position: center 0;
  
  }
  
  .box {
  width: 50%;
  height: 25%;
  }
  
  .box1 {
  border: 0rem solid black;
  justify-content: flex-start;
  }
  
  .box2 {
  border: 0rem solid black;
  }
  
  .Title {
  padding-left: 50px;
  }
  
  .Intro {
  padding-left: 50px;
  }
  
  .box2 img {
  width: 50%;
  }

  .main .acerca-de .contenedor {
    overflow: visible;
    position: relative;
  }

  .main .acerca-de .foto {
    width: 73%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0,0.35);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0,0.35);
  }

  .main .acerca-de .foto img {
    width: 80%;
    vertical-align: top;
  }

  .main .acerca-de article {
    background: white;
    padding: 40px;
    width: 50%;
    position: relative;
    float: right;
    top: 500px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0,0.35);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0,0.35);
  }

  .main .acerca-de article h3 {
    font-size:50px;
    font-weight: 300;
    margin-bottom: 40px;
    }
    
    .main .acerca-de article p {
    line-height: 28px;
    margin-bottom: 15px;
    }
    

    /** footer **/
    footer {
      background: white;
      }
      
      footer .copyright {
      text-align: center;
      padding: 15px 0;
      color: white;
      }
      
      