body {
    margin: 0;
    padding: 0;
  }
  
  #background {
    background-image: url(../Pictures/Background.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #container {
    background-color: #B3A89A;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #logo {
    width: 100px;
    height: 100px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  #flaps {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
  }
  
  #flaps a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  